.Header{
   color: brown; 
   background-color: black;
   padding: 20px;
   font-family: cursive;
   font-size: 150%;
}

body{
    background-color: silver;
    margin: auto;
}

.text1{
    padding: 20px;
    /* background-color: black; */
    font-family: fantasy;
    font-size: large;
}

.picture{
    padding: 15px;
    display: inline-flex;
    justify-content: flex-start;
    border-style: dotted;
    border-color: black;
    align-items: center;
}